* {
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
    height: 100%;
}


body {
    height: 70%;
   background-image: url("https://th.bing.com/th/id/R.19c097c9c49044dfd6746097024c31f3?rik=%2fcLVw4JR0RuRPw&riu=http%3a%2f%2fst.depositphotos.com%2f1739009%2f1259%2fi%2f950%2fdepositphotos_12598669-stock-photo-soccer-pitch.jpg&ehk=542H6zYvEAOd02wzO2VHi%2blNTS27svoGarIiG74OaA8%3d&risl=&pid=ImgRaw&r=0") ;
    font-family: 'Lato', sans-serif;
}

#menu {
    width: 70%;
    height: 15%;
    background-color:  #34304B;
    margin-left: 10%;
}


#container {
   
    width: 70%;
    margin-left: 10%;
    background-color: #bfbfbf;
    padding-bottom: 10%;
}

#content {
    width: 30%;
    background-color: white;
    height: 100%;
    margin-top: 3%;
    margin-bottom: 0%;
    margin-left: 10%;
    
}


.horizontaal {
    background-color: whitesmoke;
    float: left;
   font-size: 10px;
    width: 100%;
    margin-top: 2%;
    margin-left: 0%;
    text-align: left;
}

.horizontaal li {
    display: inline;
    text-align: center;
    margin: 0px 20px;
    width: 15%;
    padding: 0 2%;
    margin: auto;
    font-size: 35px;
    font-variant: small-caps;
    font-family: 'Fjalla One', sans-serif;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover, li:hover {
    background-color: #CCC;
}

h1 {
    font-size: 2rem;
    font-weight: 900;  
    text-align:center;  
    text-transform: lowercase;
    font-variant: small-caps;
    padding: 3%;

}
h2 {
    font-size: 2rem;
    font-weight: 900;  
    text-align:center;  
    text-transform: lowercase;
    font-variant: small-caps;
    padding: 5%;
}

p {
    font-size: 1.7rem;
    margin-bottom: 2rem;
    text-align: justify;
    margin-left: 5%;
    padding-top: 3%;
    margin-right: 5%;
}
p1 {
    font-size: 1.7rem;
    margin-bottom: 2rem;
    text-align: justify;
    margin-left: 5%;
    padding-top: 5%;
    margin-right: 5%;
}

#a {
    font-family: 'Lato', sans-serif;
}
table {
    height: 20%;
    left: 10%;
    margin: 20px auto;
    overflow-y: scroll;
    position: static;
    width: 80%;
    padding-bottom: 10%;
  }
  
  thead th {
    background: #b3b3cc;
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  tr {
    background: #f4f7f8;
    border-bottom: 1px solid #FFF;
    margin-bottom: 5px;
  }
  
  th, td {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 20px;
    text-align: left;
    width: 33.3333%;
  }
  img{
    border: 5px black;
    margin-left: 5%;
    margin-top: 10%;
  }

  .foto1 {

  }

  .foto2{
      margin-left: 200px;
  }

  .foto3{
    margin-left: 300px;
  }

  #contact {
      font-size: 20px;
  }